<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Participant List</h1>
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <label for="event_name">Event Name:</label>
            <input type="text" name="event_name" id="event_name" required>
            <label for="ambassador_name">Ambassador Name:</label>
            <input type="text" name="ambassador_name" id="ambassador_name" required>
            <label for="file">Upload CSV File:</label>
            <input type="file" name="file" id="file" required>
            <input type="submit" value="Upload">
        </form>
        <div id="loader" class="loader" style="display:none;"></div>
        <a id="downloadLink" href="#" style="display:none;">Download Certificates</a>
    </div>
    <script>
        document.getElementById('uploadForm').onsubmit = function() {
            document.getElementById('loader').style.display = 'block';
        };

        window.addEventListener('load', function() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const downloadUrl = urlParams.get('download_url');
            if (downloadUrl) {
                document.getElementById('loader').style.display = 'none';
                const downloadLink = document.getElementById('downloadLink');
                downloadLink.href = downloadUrl;
                downloadLink.style.display = 'block';
            }
        });
    </script>
</body>
</html>
